.highlighted {
    background: #d2eaff;
}

.container {
    min-height: 15vh;
    padding: 0 0.5rem;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}